In [ ]:
# importando as bibliotecas
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Criando o dataframe
tabela_acoes = pd.read_excel('arq/StockMarket.xlsx')

In [ ]:
# Exibindo as 5 primeiras linhas da tabela
tabela_acoes.head()

In [ ]:
# Verficando valores vazios
tabela_acoes.isna().sum()

Transformando a coluna de data para o padrão do (YYYY-MM-DD)

In [ ]:
# O MySQL precisa da data no formato YYYY-MM-DD. O Pandas faz essa conversão automática.
tabela_acoes['Data'] = pd.to_datetime(tabela_acoes['Data'])

# Extraindo somente a data, pois ao subir os dados para o DB, a coluna Data vai com o tempo, mas quero apenas a data.
tabela_acoes['Data'] = tabela_acoes['Data'].dt.date

In [ ]:
# Verificando a tabela
tabela_acoes.head()

Conectando ao MySQL

In [ ]:
# Criando a conexão com MySQL
# Padrão para inserir o caminho: mysql+mysqlconnector://usuario:senha@host/nome_do_banco
engine = create_engine('mysql+mysqlconnector://root:**********/mercado_de_acoes')

In [ ]:
# Enviando os dados
tabela_acoes.to_sql('acoes', con=engine, if_exists='replace', index=False)

print(f"Sucesso! {len(tabela_acoes)} linhas inseridas no MySQL mantendo a estrutura original.")