In [7]:
import pandas as pd

In [8]:
# Importando Dados
tabela_cliente = pd.read_csv("1-datasets/Clientes.csv", sep=";")
tabela_pedidos = pd.read_csv("1-datasets/Pedidos.csv", sep=";")
tabela_produtos = pd.read_csv("1-datasets/Produtos.csv", sep=";")
tabela_vendas = pd.read_csv("1-datasets/Vendas.csv", sep=";")

In [9]:
tabela_cliente

,ID Cliente,Nome Cliente,Segmento,Cidade,Estado,Pais,Mercado,Regiao
0,RH-19495,Rick Hansen,Consumidor,New York City,New York,United States,US,East
1,JR-16210,Justin Ritter,Corporativo,Wollongong,New South Wales,Australia,APAC,Oceania
2,CR-12730,Craig Reiter,Consumidor,Brisbane,Queensland,Australia,APAC,Oceania
3,KM-16375,Katherine Murray,Outros,Berlin,Berlin,Germany,EU,Central
4,RH-9495,Rick Hansen,Consumidor,Dakar,Dakar,Senegal,Africa,Africa
...,...,...,...,...,...,...,...,...
1585,SC-10800,Stuart Calhoun,Consumidor,Benin City,Edo,Nigeria,Africa,Africa
1586,BD-1500,Bradley Drucker,Consumidor,Lagos,Lagos,Nigeria,Africa,Africa
1587,RC-9825,Roy Collins,Consumidor,Budapest,Budapest,Hungary,EMEA,EMEA
1588,MG-7890,Michael Granlund,Outros,Istanbul,Istanbul,Turkey,EMEA,EMEA
1589,ZC-11910,Zuschuss Carroll,Consumidor,Maiduguri,Borno,Nigeria,Africa,Africa

In [10]:
tabela_pedidos

,ID Pedido,Data Pedido,Data Envio,Modo Envio,Prioridade Pedido
0,CA-2012-124891,31-07-2012,31-07-2012,Mesmo Dia,Critico
1,CA-2012-124891,31-07-2012,31-07-2012,Mesmo Dia,Critico
2,IN-2013-77878,05-02-2013,07-02-2013,Segunda Classe,Critico
3,IN-2013-71249,17-10-2013,18-10-2013,Primeira Classe,Medio
4,ES-2013-1579342,28-01-2013,30-01-2013,Primeira Classe,Medio
...,...,...,...,...,...
25031,ZI-2011-4350,21-03-2011,26-03-2011,Classe Padrao,Medio
25032,MX-2014-169530,09-06-2014,11-06-2014,Primeira Classe,Alto
25033,IN-2014-72327,30-05-2014,30-05-2014,Mesmo Dia,Alto
25034,IN-2014-57662,05-08-2014,10-08-2014,Classe Padrao,Medio
25035,MX-2012-134460,22-05-2012,26-05-2012,Segunda Classe,Alto

In [11]:
tabela_produtos

,ID Produto,Categoria,SubCategoria,Nome Produto
0,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
1,TEC-AC-10003033,Tecnologia,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
2,FUR-CH-10003950,Moveis,Chairs,"Novimex Executive Leather Armchair, Black"
3,TEC-PH-10004664,Tecnologia,Phones,"Nokia Smart Phone, with Caller ID"
4,TEC-PH-10004583,Tecnologia,Phones,"Motorola Smart Phone, Cordless"
...,...,...,...,...
10288,OFF-FA-10004112,Material de Escritorio,Fasteners,"Stockwell Staples, 12 Pack"
10289,OFF-BI-10003253,Material de Escritorio,Binders,"Ibico Index Tab, Economy"
10290,OFF-BI-10002510,Material de Escritorio,Binders,"Acco Index Tab, Clear"
10291,FUR-ADV-10002329,Moveis,Furnishings,"Advantus Light Bulb, Erganomic"
10292,OFF-AP-10002203,Material de Escritorio,Appliances,Eureka Disposable Bags for Sanitaire Vibra Gro...

In [12]:
tabela_vendas

,Pedido,Cliente,Produto,Valor Venda,Quantidade Vendida,Custo Envio
0,CA-2012-124891,RH-19495,TEC-AC-10003033,"2309,65",7,"933,57"
1,IN-2013-77878,JR-16210,FUR-CH-10003950,"3709,395",9,"923,63"
2,IN-2013-71249,CR-12730,TEC-PH-10004664,"5175,171",9,"915,49"
3,ES-2013-1579342,KM-16375,TEC-PH-10004583,"2892,51",5,"910,16"
4,SG-2013-4320,RH-9495,TEC-SHA-10000501,"2832,96",8,"903,04"
...,...,...,...,...,...,...
51285,IN-2014-62366,KE-16420,OFF-FA-10000746,"65,1",5,"0,01"
51286,US-2014-102288,ZC-21910,OFF-AP-10002906,"0,444",1,"0,01"
51287,US-2013-155768,LB-16795,OFF-EN-10001219,"22,92",3,"0,01"
51288,MX-2012-140767,RB-19795,OFF-BI-10000806,"13,44",2,0
51289,MX-2012-134460,MC-18100,OFF-PA-10004155,"61,38",3,0